* {
    margin: 0;
}

.page-wrap {
    min-height: 100vh;
    background-color: rgb(211, 211, 81);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    color: green;
}

ul {
    font-size: 40px;
    font-weight: 400;
    color: rgb(3, 31, 3);
}

.main-link {
    font-size: 50px;
    font-weight: 700;
    color: green;
    text-decoration: none;
    padding-top: 50px;
}



.page-wrap-gallery {
    min-height: 100vh;
    background-color: rgb(243, 243, 156);
    display: block;
    align-items: center;
    margin: 0% auto;
}